body, html {
    background-image: url("Assets/background.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(20, 20, 20);
    min-height: 100%;
}